<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YR Energy</title>

    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="plugins/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">YR Energy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#search"><i class="fas fa-search"></i> WeatherData</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Our Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#team">Our Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>Welcome to YR Energy Project</h1>
            <p class="lead">Energy Market Web Application </p>
        </div>
    </header>

    <section id="search" class="bg-light">
        <div class="container">
            <div class="row">
              <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <h2>Weather</h2>
                <form>
                  <div class="form-row">
                    <div class="col-12 col-md-5 mb-2 mb-md-0">
                      <input type="text" class="form-control form-control-lg search-date" placeholder="Search Date">
                    </div>
                    <div class="col-12 col-md-4">
                      <select id="search-location" class="form-control form-control-lg" id="exampleFormControlSelect1">
                          <option>Select</option>
                      </select>
                    </div>
                    <div class="col-12 col-md-3">
                      <input type="button" id="search-btn" class="btn btn-block btn-lg btn-primary" value="Search">
                    </div>
                  </div>
                </form>
              </div>      
          
            </div>
        </div>
    </section>
    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="container">
          <div class="row">
              <div class="col-xl-9 mx-auto">
                <div id="googleMap"></div>
            </div>
            <div class="col-xl-9 mx-auto">
            <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
          </div>

          </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About Us</h2>
                    <p class="lead">This is a great place to talk about our webpage. This page features:</p>
                    <p>The application uses some real-time data of the weather data to know when electricity will be generated in excess in the next 10 days so that people can “schedule” when to use the most of it.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Services we offer</h2>
                    <p class="lead"> Our services will all be about: </p>
                    <ul>
                        <li>Selecting the day and time. </li>
                        <li>Showing the best day or worse day based on the algorithm.</li>
                        <li>Graphs illustrating data upon selection of the certain date and time frame.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p class="lead">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="my-4">Our Team</h2>
                            </div>
                            <div class="col-lg-4 col-sm-6 text-center mb-4">
                                <img class="rounded-circle img-fluid d-block mx-auto team-images" src="./img/team/himanshu.jpg" alt="">
                                <h3>Himanshu Metai
                                </h3>

                                    <small>Team Leader</small>
                            </div>
                            <div class="col-lg-4 col-sm-6 text-center mb-4">
                                <img class="rounded-circle img-fluid d-block mx-auto team-images" src="./img/team/vishal.jpg" alt="">
                                <h3>Vishal Chandrashekhar Tatar
                                </h3>

                                    <small>Product Owner</small>
                            </div>
                            <div class="col-lg-4 col-sm-6 text-center mb-4">
                                <img class="rounded-circle img-fluid d-block mx-auto team-images" src="./img/team/krithika.jpeg" alt="">
                                <h3>Krithika Arulselvam
                                </h3>
                                    <small>UI/UX Designer</small>
                            </div>
                            <div class="col-lg-4 col-sm-6 text-center mb-4">
                                <img class="rounded-circle img-fluid d-block mx-auto team-images fat" src="./img/team/ahmed.jpg" alt="">
                                <h3>Ahmed Alruwaili
                                </h3>
                                    <small>Front End Developer</small>
                            </div>
                            <div class="col-lg-4 col-sm-6 text-center mb-4">
                                <img class="rounded-circle img-fluid d-block mx-auto team-images fat" src="./img/team/prayen_.png" alt="">
                                <h3>Prayen Shrestha
                                </h3>
                                    <small>Front End Developer</small>
                            </div>
                            <div class="col-lg-4 col-sm-6 text-center mb-4">
                                <img class="rounded-circle img-fluid d-block mx-auto team-images" src="./img/team/sai.jpg" alt="">
                                <h3>Venkata Sai Teja Nalluri
                                </h3>
                                    <small>Back End Developer</small>
                            </div>
                        </div>

                    </p>
                </div>
            </div>
        </div>
    </section>


    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; YR Energy 2018</p>
        </div>

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="./plugins/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script src="./plugins/js/canvasjs.min.js"></script>
    <script src="./js/mapdata.js"></script>
    <script src="./js/australiamap.js"></script>
    <script src="./js/index.js"></script>

</body>

</html>
